page-message-notice {
  .content-div1-wz {
    border: 1px solid black;
    border-radius: rem(10);
    height: 35%;
    margin-bottom: 5%;
    background-color: #353535;
  }
  .content-div1-1-wz {
    height: 23%;
    border-bottom: 1px solid #d1ae69;
    width: 90%;
    margin-left: 5%;
  }
  .content-div1-1-wz p {
    margin: 0px;
    position: relative;
    top: rem(47);
    left: rem(12);
  }
  .content-div1-2-wz {
    height: 55%;
    border-bottom: 1px solid #d1ae69;
    width: 90%;
    margin-left: 5%;
  }
  .content-div1-2-wz p {
    width: 90%;
    margin-left: 5%;
    color: #d1ae69;
    position: relative;
    top: rem(30);
  }
  .content-div1-3-wz {
    height: 22%;
    width: 90%;
    margin-left: 5%;
  }
  .content-div1-3-wz p {
    margin-top: 1%;
    margin-bottom: 0px;
    position: relative;
    left: rem(370);
    color: #d1ae69;
  }
}
