page-login {
  .bg-ground-bottom {
    position: absolute;
    width:100%;
    height: rem(300);
    left:-30%;
    bottom:4%;
    transform: rotate(-10deg);
    background-image: url('../../assets/imgs/person/background-top.png');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
  }
    .content{
        .log-icon-ys{
          .top-jl-ys{
            height: rem(150);
          }
         img{
           width: rem(265);
           height: rem(305);
           display: block;
           margin: 0 auto;
         }
          background: url("../../assets/imgs/person/backgrounp-bottom.png");
          background-position: 0% 150%;
          background-repeat: no-repeat;
          background-size: 100%;
        }
      }
      
      .item-block{
        width: 80%;
        margin: 0 auto;
        border-radius: rem(20);
        color: #ffffff;
        .label-ios-primary {
          color:#fff;
        }
      }
      .item-ios{
        background: #8a8a8a;
    
      }
      .c-button {
        width:80%;
        margin:0 auto;
        background-color:#313131;
        color:#fff;
      }
      .list-ios {
        margin-top:rem(73);
        &>.item-block{
          margin-bottom: rem(65);
          &:first-child{
            border-top-width:0;
          }
          &:last-child {
            border-bottom-width:0;
          }
          .item-inner {
            border-bottom-width:0;
          }
        }
      }
      ion-grid.grid {
        width:80%;
        margin:0 auto;
        ion-label {
          margin:0 rem(10);

        }
        .checkbox-icon {
          border-radius: 0;
          border-color: #a3a3a3;
          background-color: #000;
        }
      }
      .flex {
        display: flex;

      }
}
