page-receive-record {
  .header-title-wz {
    margin-right: rem(110);
  }
  .content-div1-wz {
    border: 1px solid black;
    border-radius: 5px;
    height: 35%;
    margin-bottom: 5%;
    background-color: #353535;
  }
  .content-div1-1-wz {
    height: 23%;
    border-bottom: 1px solid #d1ae69;
    width: 90%;
    margin-left: 5%;
  }
  .content-p1-wz {
    margin: 0px;
    position: relative;
    top: 55%;
    left: 2%;
  }
  .content-p2-wz {
    margin: 0px;
    position: relative;
    top: 18%;
    float: right;
    color: #d1ae69;
  }
  .content-div1-2-wz {
    height: 55%;
    border-bottom: 1px solid #d1ae69;
    width: 90%;
    margin-left: 5%;
  }
  .content-div1-2-wz pre {
    width: 90%;
    margin-left: 5%;
    position: relative;
    top: 15%;
  }
  .content-div1-2-1-wz {
    height: 25%;
    border-top: 1px solid #d1ae69;
    position: relative;
    top: rem(85);
  }
  .content-div1-2-1-wz label {
    float: right;
    position: relative;
    top: 20%;
  }
  .content-div1-3-wz {
    height: 22%;
    width: 90%;
    margin-left: 5%;
  }
  .content-div1-3-wz p {
    margin-top: 1%;
    margin-bottom: 0px;
    float: right;
    color: #d1ae69;
  }
}
