page-receive-record {
  .black-div-wz {
    height: rem(40);
    background-color: #181818;
  }
  .content {
    background-color: #222222;
  }
  .record-img-wz {
    background: url("../../assets/imgs/person/notice/mm.png") 0 rem(-20) no-repeat;
    background-size: 100%;
  }
  .item-ios,.card-ios{
    background-color: #353535;
    color: #ffffff;
    padding-bottom: rem(15);
    border-radius: rem(10);
  }
  .list-item-content-ys{
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    display: flex;
    justify-content: center;
    align-items: center;
    label {
      font-family: "Microsoft YaHei UI";
      font-size: rem(24);
      margin-top: rem(90);
      margin-bottom: rem(70);
    }
    label:nth-of-type(2) {
      margin-left: rem(80);
    }
  }
  .list-item-top-ys{
    font-size: rem(24);
    font-weight: 500;
    color: #ffffff;
    margin-top:rem(22);
    border-bottom: 2px solid #6c5c3e;
    span:first-child{
      padding: 0 rem(14);
    }
    span:last-child{
      float: right;
      margin-right: rem(3);
      color: #d1ae69;
    }
  }
  .list-item-content-ys{
    border-bottom: 2px solid #6c5c3e;
    padding-top: rem(20);
    font-weight: 500;
    padding-bottom: rem(20);
    img{
      display: inline-block;
      margin: 0 rem(25);
      vertical-align:sub;
    }
    ul{
      font-size: rem(20);
      padding: 0;
      display: inline-block;
      li{
        list-style: none;
        line-height: rem(28);
      }
    }
  }
  .list-item-bottom-ys{
    border-bottom: 2px solid #6c5c3e;
    font-size: rem(20);
    padding: rem(17) 0;
    font-weight: 500;
    span {
      font-family: "Microsoft YaHei UI";
      font-size: rem(20);
      float: right;
      margin-right: rem(10);
    }
  }
}
