<!--
  Generated template for the ReceiveRecordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title class="header-title-wz">领取记录</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="black-div-wz"></div>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingText="下拉刷新"
      refreshingText="刷新中..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let record of records" (click)="goToOrderDetail(record.orderno)">
    <ion-item class="record-img-wz">
      <div class="list-item-top-ys">
        <span>订单编号</span><span>{{record.orderno}}</span><span>{{record.status == 1 ? '已申请' : '未申请'}}</span>
      </div>
      <div class="list-item-content-ys">
        <label>总计占用额度{{record.quota}}</label><label>共申请{{record.num}}件配件</label>
      </div>
      <div class="list-item-bottom-ys">
        <span>订单金额￥{{record.totalprice}}</span>
        <div style="clear: both"></div>
      </div>
    </ion-item>
  </ion-card>
  <div *ngIf="!haveData" class="no-data">暂无更多数据</div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingText='加载中...'
      enabled=false
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
