$border-color:#6c5c3e;
$item_font_size:rem(20);
list-item {
  .item-ios,.card-ios{
    background-color: #353535;
    color: #ffffff;
    padding-bottom: rem(15);
  }
  .list-item-content-ys{
    img{
      width: rem(79);
      height: rem(79);
    }

  }
  .list-item-top-ys{
    font-size: rem(24);
    font-weight: 500;
    color: #ffffff;
    padding-bottom: rem(6);
    margin-top:rem(22);
    margin-left:rem(10);
    padding-right: rem(10);
    box-sizing: border-box;
    span:first-child{
      padding: 0 rem(14);
    }
    span:last-child{
      float: right;
      color: #d1ae69;
    }
  }
  .list-item-content-ys {
    padding-top: rem(20);
    font-weight: 500;
    padding-right: rem(10);
    box-sizing: border-box;
    padding-bottom: rem(20);
    img {
        display: inline-block;
        margin: 0 rem(25);
        vertical-align: sub;
    }
    ul {
        font-size: rem(20);
        padding: 0;
        padding-right: rem(20);
        display: inline-block;
        width:rem(400);
        li {
            width:100%;
            list-style: none;
            line-height: rem(28);
        }
    }
    .price {
      display:block;
      margin-top: rem(42);
      font-size: $item_font_size;
    }
}
  .list-item-bottom-ys{
    font-size: rem(20);
    padding: rem(17) 0;
    font-weight: 500;
    text-align: right;
    margin-bottom: rem(10);
    padding-right: rem(10);
    box-sizing: border-box;
    span:first-child{
      margin:0 rem(10) 0 20%;
      color: #d1ae69;
    }
    span:nth-child(2){
      color: #d1ae69;
      margin-right: rem(2);
    }
  }
  .border {
    position: relative;
    &.border-point-left {
      &:before {
        right:100%;
      }
    }
    &:after {
      content:"";
      display: block;
      position: absolute;
      bottom:0;
      left:0;
      right:0;
      height: 2px;
      background-color:$border-color;
      transform: scaleY(.5);
    }
    &:before {
      content:"";
      display: block;
      position: absolute;
      bottom:0;
      right:0;
      width:4px;
      height: 4px;
      background-color:$border-color;
      border-radius: 100%;
      transform: translateY(calc(50% - 1px));
      z-index: 10;
    }
  }
  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .server-type {
    color:$Themecolor;
    text-align:right;
    font-size: $item_font_size;
    padding-right: rem(10);
    font-weight: bold;
  }
  .star {
    display: block;
    width:rem(26);

  }
  .comment {
    font-size: $item_font_size;
    color:$Themecolor;
  }
}
