<!-- Generated template for the ListItemComponent component -->
<ion-card>
  <ion-item>
    <div class="list-item-top-ys">
      <span>订单编号</span>
      <span>{{item.orderno}}</span>
      <span *ngIf="item.status==1">待受理</span>
      <span *ngIf="item.status==2">已受理</span>
      <span *ngIf="item.status==3">已确定</span>
      <span *ngIf="item.status==4">已支付</span>
      <span *ngIf="item.status==5">已完成</span>
    </div>
    <div class="list-item-content-ys">
      <img src={{item.img}} alt="">
      <ul>
        <li>{{item.version}}</li>
        <li>{{item.fault}}</li>
        <li>颜色：{{item.color}}</li>
      </ul>
    </div>
    <div class="list-item-bottom-ys">
      <span>暂无接单</span>
      <span>维修订单</span>
      <span>共计一项</span>
      <span>订单金额¥{{item.fee}}</span>
    </div>
  </ion-item>
</ion-card>