<!-- Generated template for the ListItemComponent component -->
<ion-card>
  <ion-item>
  <div class="list-item-top-ys">
  <span>订单编号</span><span>201806281803533018074</span><span>已超时</span>
</div>
  <div class="list-item-content-ys">
<img src="../../assets/imgs/licImg-ys.png" alt="">
  <ul>
     <li>iphone 6</li>
     <li>电池故障-电池膨胀/续航时间短</li>
     <li>颜色：银色</li>
  </ul>
</div>
  <div class="list-item-bottom-ys"><span>暂无接单</span> <span>维修订单</span> <span>共计一项</span> <span>订单金额¥128</span></div>
  </ion-item>
</ion-card>

