<!--
  Generated template for the IncomedetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>收入明细</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class='content_zq'>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
        pullingText="下拉刷新"
        refreshingText="刷新中..."
        >
        </ion-refresher-content>
      </ion-refresher>
<ion-list>
  <ion-item *ngFor="let item of dataList">
    <div class='photo_zq'>
      <img src={{item.avatar}}> 
      <h2>{{item.name}}</h2>
    </div>
    <p>{{item.brand}}</p>
    <p>{{item.fault}}</p>
    <p>订单编号：{{item.tradeno}}</p>
    <p>下单时间：{{item.createtime}}</p>
    <div item-end>
      <h2 *ngIf="item.source==1">订单提成</h2>
      <h2 *ngIf="item.source==2">订单补贴</h2>
      <h2 *ngIf="item.source==3">转单补贴</h2>
      <h2 *ngIf="item.source==4">园丁奖</h2>
    	<h2>+28.08</h2>
    </div>
  </ion-item>
</ion-list>
<div *ngIf="!haveData" class="no-data">暂无更多数据</div>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
        loadingText='加载中...'
        enabled=false
        ></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
