page-incomedetail {
.list-ios{
    margin:rem(20) 0 0 0;
}
.item-ios{
    background:linear-gradient(to right,rgba(255,255,255,0.1),rgba(255,255,255,0.15),rgba(255,255,255,0.1));
    margin-bottom:rem(25);
}
.list-ios .item-block .item-inner,.item-ios.item-block .item-inner{
     border-bottom:none;
}
.list-ios > .item-block:first-child,.list-ios > .item-block{
    border:none;
}
.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
    border-bottom:none;
    
}
.item-ios h2{
    color:$Themecolor;
    font-size:rem(24); 
    font-weight:600;
}
.item-ios p{
    color:#808080;
    font-size:rem(22); 
    text-indent:1em;
    line-height:rem(30);
    font-weight:600;
}
.photo_zq{
   display: flex;
   align-items:center ;
    img{
        width:rem(58);
        height:rem(58);
        border-radius: 50%;
        overflow: hidden;
        margin-right:rem(14);
    }
}
.content_zq{
    background: url(../assets/imgs/gear.png) #181818 no-repeat 5% 80%;
    background-size:rem(158) rem(491);
}
}
