page-people-information {
  .content {
    background-color: #222222;
  }
  .people-list-content-wz {
    display: flex;
    justify-content: center;
  }
  .people-tel-update-wz {
    float: right;
  }
  .black-div-wz {
    height: rem(40);
    background-color: #181818;
  }
  .people-list-wz {
    width: rem(590);
    background: url("../../assets/imgs/person/background-top.png") #222 60% 26% no-repeat;
    background-size: 95%;
    label {
      color: #d1ae69;
      font-family: "Microsoft YaHei UI";
      font-size: rem(32);
    };
    span {
      color: #808080;
      font-family: "Microsoft YaHei UI";
      font-size: rem(32);
      float: right;
    };
    ion-item {
      height: rem(145);
    }
  }
  .list-ios,.list-md{
    margin:rem(20) 0 0 0;
    padding:0 rem(16);
    background-color:#222;
  }
  .item-ios {
    background-color: rgba(255, 255, 255, 0);
  }
  .list-ios .item-block .item-inner,.item-ios.item-block .item-inner,.list-md .item-block .item-inner,.item-block .item-inner{
    border-bottom:none;
  }
  .list-ios > .item-block:first-child,.list-ios > .item-block,.list-md > .item-block:first-child,.list-md > .item-block{
    border-top:none;
    //border-bottom: 0.55px solid $Themecolor;
  }
  .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block,.list-md > .item-block:last-child, .list-md > .item-wrapper:last-child .item-block {
    //border-bottom: 0.55px solid $Themecolor;
    border-bottom: none;
  }
}
