page-home {
  .notice{
      background:linear-gradient(to right,#222 ,#404040,#222);
      color:#fff;
      height:rem(49);
      line-height:rem(49);
      padding:0 rem(12);
      margin-top:rem(41);
      font-size:rem(22);
      img{
          height:rem(36);
          width:rem(36);
          vertical-align: middle;
      }
  }
  .nowTime{
      font-size:rem(128);
      text-align: center;
      color:$Themecolor;
  }
  .nowDay{
     text-align: center;
     color:$Themecolor;
     font-size:rem(22); 
  }
}
