.tips-alert {
  .alert-wrapper {
    border-radius: rem(10);
    background-color: #3c3c3c;
    width: rem(585);
    height: rem(265);
    position: relative;
    .alert-title {
      font-family: "Microsoft YaHei UI";
      font-size: rem(28);
      color: $Themecolor;
      font-weight: 500;
      margin-top: rem(95);
    }
    .alert-sub-title {
      font-family: "Microsoft YaHei UI";
      font-size: rem(28);
      color: $Themecolor;
      margin-top: rem(65);
    }
    .alert-head {
      padding: 0px;
    }
    .disable-hover,.alert-button,.alert-button-ios,.alert-button-default,.alert-button-default-ios {
      margin-top: rem(20);
      // border: 1px solid $Themecolor;
      border-top: 1px solid $Themecolor;
      background-color: #3c3c3c;
    }
    .disable-hover {
      font-size: rem(25);
      font-weight: 500;
      color: $Themecolor;
    }
  }
}
page-apply-parts {
  .ionitem3 {
    height: rem(300);
    position: relative;
      label {
        position: absolute;
        top: rem(20);
      }
  }
  .btn-wz {
    color: $Themecolor;
    background-color: #333333;
    height: rem(75);
    width: 71%;
    border-radius: rem(10);
    position: fixed;
    bottom: rem(25);
    margin-left: rem(105);
  }
  .black-div-wz {
    height: rem(40);
    background-color: #181818;
  }
  .content {
    background: url("../assets/imgs/gear.png") rem(30) rem(700) no-repeat;
    background-size: 20%;
    background-color: #222222;
  }
  .shopchoose-list-wz {
    background: -webkit-linear-gradient(left, #252525, #343434, #252525);
    position: relative;
    margin-bottom: rem(25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    p {
      margin: 0px;
    }
    div:first-child {
      margin: 0px 0px 0px rem(70);
      p:first-child {
        font-size: rem(24);
        color: $Themecolor;
        margin: rem(35) 0 rem(30) 0;
      }
      p:last-child {
        font-size: rem(22);
        color: #808080;
        margin-bottom: rem(25);
        margin-left: 0;
      }
    }
    img {
      width: rem(30);
      height: rem(45);
      margin-right: rem(25);
    }
  }
  .content-list-wz {
    background-color: #2b2b2b;
    margin-left: rem(105);
    width: 71%;
    ion-list {
      margin: 0px;
    }
    .item-height-wz {
      height: rem(110);
    }
    p {
      font-size: rem(20);
      color: #808080;
      text-align: center;
      margin-top: rem(10);
    }
  }
  .partsname-list-wz {
    position: absolute;
    top: rem(65);
    height: rem(220);
    width: 100%;
    overflow: auto;
    span {
      font-size: rem(22);
      color: #787878;
      display: inline-block;
    }
    ion-label {
      margin: rem(11) 0 0 0;
    }
    ion-item {
      padding-left: 0px;
      min-height: rem(30);
    }
    span:first-child {
      width: 25%;
    }
    span:nth-of-type(2) {
      width: 55%;
    }
  }


  .list-ios,.list-md{

    label {
      color: $Themecolor;
      font-size: rem(24);
    }
  }
  .item-ios {
    background-color: #2b2b2b;
  }
  .list-ios .item-block .item-inner,.item-ios.item-block .item-inner,.list-md .item-block .item-inner,.item-block .item-inner{
    border-bottom:none;
  }
  .list-ios > .item-block:first-child,.list-ios > .item-block,.list-md > .item-block:first-child,.list-md > .item-block{
    border-top:none;
    border-bottom: 0.55px solid $Themecolor;
  }
  .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block,.list-md > .item-block:last-child, .list-md > .item-wrapper:last-child .item-block {
    border-bottom: 0.55px solid $Themecolor;
  }
}
