<!--
  Generated template for the TeachersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>师徒管理</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <div class="marginTop-yl"></div>
    <div class='div'>
        <canvas #myCanvas class='mycanvas'></canvas>
        <div class="teachers-group-yl">
            <div class="img-wrap-yl" *ngIf="isHidden4">
                <div class="teachers-icon-yl teachers-canvas-1">
                    <div class="teachername">{{teachers?.name}}</div>
                    <div class="teacherRelationship">师</div>
                    <img class="timg" src="{{teachers?.avatar}}" alt="头像">
                </div>
            </div>
        </div>
        <!-- <canvas #myCanvas width="685" height="365" style="background-color: #FFF;" (click)="clickCan($event)"></canvas> -->
        <div class="teachers-group-yl">
            <div class="img-wrap-yl">
                <div class="teachers-icon-yl teachers-canvas-2">
                    <div class="teachername">我</div>
                    <img class="timg" src="{{userInfo?.avatar}}" alt="头像">
                </div>
            </div>
        </div>

        <ion-grid>
            <ion-row>
                <ion-col col-4 *ngIf="isHidden1">
                    <div class="students-group-yl">
                        <div class="students-wrap-yl">
                            <div class="students-icon-yl" (click)="goToStudent(apprentice1)">
                                <div class="studentsname students-canvas-1">
                                    {{apprentice1?.name}}
                                </div>
                                <div class="studentsRelationship">
                                    徒
                                </div>
                                <img class="studentstimg" src="{{apprentice1?.avatar}}" alt="头像">
                            </div>
                        </div>
                    </div>
                </ion-col>
                <ion-col col-4 *ngIf="isHidden2">
                    <br /><br /> <br /> <br /> <br />
                    <div class="students-group-yl">
                        <div class="students-wrap-yl">
                            <div class="students-icon-yl" (click)="goToStudent(apprentice2)">
                                <div class="studentsname  students-canvas-2">
                                    {{ apprentice2?.name }}
                                </div>
                                <div class="studentsRelationship">
                                    徒
                                </div>
                                <img class="studentstimg" src="{{ apprentice2?.avatar }}" alt="头像">
                            </div>
                        </div>
                    </div>
                </ion-col>
                <ion-col col-4 *ngIf="isHidden3">
                    <div class="students-group-yl">
                        <div class="students-wrap-yl">
                            <div class="students-icon-yl" (click)="goToStudent(apprentice3)">
                                <div class="studentsname  students-canvas-3">
                                    {{apprentice3?.name}}
                                </div>
                                <div class="studentsRelationship">
                                    徒
                                </div>
                                <img class="studentstimg" src="{{apprentice3?.avatar}}" alt="头像">
                            </div>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
            <div class="show-all-yl" (click)="showAllAtudents()">
                <span> 查看所有</span>
            </div>
        </ion-grid>
    </div>
    <div class="bar-yl">
        <div class="bar-relationship bar-relationship-left-shadow" (click)="toStudents('确定收徒', 2)">
            <img class="student" [src]="student" alt="收徒">
            <span [ngClass]="{'controlText':controlText}"> 收徒</span>

        </div>
        <div class="bar-relationship bar-relationship-right-shadow" (click)="toTeacher('确定拜师', 1)">
            <img class="teacher" [src]="teacher" alt="拜师">
            <span [ngClass]="{'controlText':!controlText}">拜师</span>
        </div>
    </div>
</ion-content>
