page-ranklist {
.imgBorder{
   height:rem(152);
   width:rem(152);
   display: flex;
   align-items:center ;
   justify-content: center;
   background:url(../assets/imgs/avatarB.png);
   background-size:100% 100%;
   img{
       width:rem(99);
       height:rem(99);
   }
}
.list-ios{
    margin-top:rem(20);
    padding:0 rem(16);
    background-color:#222;
}
.item-ios{
    background-color:#222;
}
.list-ios .item-block .item-inner,.item-ios.item-block .item-inner{
     border-bottom:none;
}
.list-ios > .item-block:first-child,.list-ios > .item-block{
    border-top:none;
    border-bottom: 1px solid $Themecolor;
}
.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border-bottom:none;
    
}

.rankname_zq{
   margin-top:rem(20);
   height:rem(120);
   width:100%;
   font-size:rem(48); 
   color:$Themecolor;
   display: flex;
   align-items:center ;
   justify-content: center;
   background-color:#222;
}
.item-ios h2{
    color:$Themecolor
}
.item-ios{
    padding-left:rem(6);
}
.item-ios  p{
       color:#636363
   }
.rank{
    width:rem(150);
    height:rem(110);
}
}
