page-me {
    .img-wrap-yl {
        width: rem(247);
    }
    .marginTop-yl {
        height: rem(38);
        background-color: #181818;
    }
    .me-icon-yl {
        background: url("../assets/imgs/person/portrait.png") no-repeat;
        background-size: rem(180) rem(180);
        width: rem(180);
        height: rem(180);
        display: flex;
        margin: rem(94) 0 0 rem(28);
        align-items: center;
        justify-content: center;
        img {
            width: rem(120);
            border-radius: 30px;
        }
    }
    .list-bg-yl {
        display: flex;
        font-family: ”微软雅黑”;
        margin-bottom: rem(70);
        p {
            color: $Themecolor;
            font-size: rem(32);
            line-height: rem(28);
        }
    }
    .me-msg-yl {
        display: flex;
        margin-top: rem(114);
        .listbg-yl {
            width: 79%;
            p {
                margin: 0 0 rem(28) 0;
                font-size: rem(32);
            }
        }
    }
    .extract-yl {
        display: flex;
        div {
            flex: 1;
            p {
                font-size: rem(20);
                line-height: rem(20);
                margin: 0 0 rem(10) 0;
            }
        }
    }
    .erweima-yl {
        padding: rem(12);
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(71);
        height: rem(71);
        background: url("../assets/imgs/person/erwei-bg.png") no-repeat;
        background-size: rem(71) rem(71);
        margin: 0 0 0 rem(42);
        img {
            width: rem(50);
            height: rem(50);
        }
    }
    .my-content-yl {
        color: $Themecolor;
        height: rem(101);
        border-bottom: 1px solid #d1ae69;
        display: flex;
        align-items: center;
        font-size: rem(32);
        padding-left: rem(30);
        margin-right: rem(60);
        .notice-icon,
        .extension-icon {
            width: rem(50);
            height: rem(50);
        }
        .parts-icon {
            width: rem(43);
            height: rem(43);
        }
        .persion-icon {
            width: rem(50);
            height: rem(40);
        }
        .performance-icon {
            width: rem(41);
            height: rem(41);
        }
        .teachers-icon {
            width: rem(44);
            height: rem(44);
        }
        .turn-to {
            width: rem(34);
            height: rem(50);
            margin-right: rem(28);
        }
        div {
            width: rem(50)
        }
    }
    .content {
        background: url("../assets/imgs/person/background.png") #222 0 40% no-repeat;
        background-size: 95%;
    }
    .list-ios {
        margin: rem(20) 0 0 0;
        padding: 0 rem(16);
    }
    .item-ios {
        background-color: rgba(255, 255, 255, 0);
    }
    .list-ios .item-block .item-inner,
    .item-ios.item-block .item-inner {
        border-bottom: none;
    }
    .list-ios>.item-block:first-child,
    .list-ios>.item-block {
        border-top: none;
        border-bottom: 0.55px solid $Themecolor;
    }
    .list-ios>.item-block:last-child,
    .list-ios>.item-wrapper:last-child .item-block {
        border-bottom: none;
    }
}