page-change-word {
    .my-ion-content {
        background-image: url('../../../assets/imgs/person/notice/mm3.png');
        background-size: 85%;
        background-repeat: no-repeat;
        background-position:right rem(-150) ;

    }
    ion-grid.grid {
        background-color:rgba($color: #333, $alpha: 0.1);
        position: absolute;
        top:rem(38);
        bottom:0;
        left:0;
        right:0;
        ion-row {
            width:90%;
            margin:rem(33) auto;
            color:$Themecolor;
            font-size: rem(28);
            ion-input {
                .text-input {
                    margin:0;
                    padding:rem(10) 0;
                }
            }
            .c-button {
                background-color:#313131;
                color:$Themecolor;
            }
            .comment {
                p {
                    margin:0;
                    padding:0;
                    font-size:rem(24);
                    color:#646464;
                    line-height: rem(32);
                }
            }
            .valicode {
                position: relative;
                ion-input {
                    padding-right:rem(150);
                }
                button {
                    position: absolute;
                    right:0;
                    bottom:rem(12);
                    background-color:transparent;
                    font-size:rem(30);
                    color:#646464;
                    text-align: center;
                    font-weight: 400;

                }
            }
        }
        .tip {
            margin:rem(80) auto rem(30) auto;
            span {
                display:inline-block;
                padding-left:rem(40);
                background-image: url('../../../assets/icon/icon-warn.svg');
                background-position: left center;
                background-size:rem(30);
                background-repeat: no-repeat;
            }
        }
        
    }
}
