.tips-alert {
    .alert-wrapper {
      border-radius: rem(10);
      background-color: #3c3c3c;
      width: rem(585);
      height: rem(265);
      position: relative;
      .alert-title {
        font-family: "Microsoft YaHei UI";
        font-size: rem(35);
        color: $Themecolor;
        font-weight: 500;
        margin-top: rem(95);
      }
      .alert-sub-title {
        font-family: "Microsoft YaHei UI";
        font-size: rem(28);
        color: $Themecolor;
        margin-top: rem(65);
      }
      .alert-head {
        padding: 0px;
      }
    }
  }
page-me-all-students {
    .imgBorder {
        height: rem(152);
        width: rem(152);
        display: flex;
        align-items: center;
        justify-content: center;
        background: url(../assets/imgs/avatarB.png);
        background-size: 100% 100%;
        img {
            width: rem(99);
            height: rem(99);
            border-radius: 30px;
        }
    }
    .list-ios {
        padding: 0 rem(16);
        background-color: #222;
    }
    .item-ios,
    .content {
        background-color: #222;
    }
    .list-ios .item-block .item-inner,
    .item-ios.item-block .item-inner {
        border-bottom: none;
    }
    .list-ios>.item-block:first-child,
    .list-ios>.item-block {
        border-top: none;
        border-bottom: 1px solid $Themecolor;
    }
    .list-ios>.item-block:last-child,
    .list-ios>.item-wrapper:last-child .item-block {
        border-bottom: 1px solid $Themecolor;
    }
    .item-ios h2 {
        color: $Themecolor
    }
    .item-ios {
        padding-left: rem(6);
    }
    .item-ios p {
        color: #636363
    }
    .rank {
        width: rem(150);
        height: rem(110);
    }
    button {
        background-color: #282828;
        color: $Themecolor;
        position: absolute;
        border-radius: rem(10);
        padding: rem(26) rem(58);
        margin-bottom: rem(50);
        bottom: 0;
        right: rem(27);
    }
   
}