page-home {
  .notice_zq{
      background:linear-gradient(to right,#222 ,#404040,#222);
      color:#fff;
      height:rem(49);
      padding:0 rem(24);
      margin:rem(41) rem(16) rem(20) rem(16); 
      display: flex;
      align-items: center;
      font-size:rem(22);
      img{
          height:rem(36);
          width:rem(36);
          vertical-align: middle;
      }
      p{
           flex: 1;
           overflow: hidden;
           text-overflow: ellipsis;
           white-space: nowrap;
      }
  }
  .nowTime_zq{
      font-size:rem(128);
      text-align: center;
      color:$Themecolor;
  }
  .nowDay_zq{
     text-align: center;
     color:$Themecolor;
     font-size:rem(22); 
  }
  .homeBg_zq{
      height:rem(380);
      width:100%;
      margin-top:rem(66);
      margin-bottom:rem(60);
      background:url(../../assets/imgs/home_bg.png);
      background-size:100% 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .div_zq{
          height:rem(447);
          width:rem(450);
          background:url(../../assets/imgs/home_circle.png);
          background-size:100% 100%;
          position: absolute;
          z-index:1;
          background-position: center;
      }
      @keyframes myrotate {
        0% {
        transform:rotate(0deg);
       
        }
        100% {
        transform:rotate(360deg);
          
        }
        }
      .myrotate{
          animation:3s myrotate linear infinite normal;
      }
      button{
          font-size:rem(72);
          line-height:rem(70);
          font-weight: bold;
          color:transparent;
          -webkit-text-stroke:1px $Themecolor;
          background-color:rgba(0,0,0,0);
          width:rem(210);
          height: rem(210);
          border-radius: 50%;
          position: absolute;
          z-index:2;
          letter-spacing: rem(20);
          text-align: center;
          line-height: rem(80);
          margin-left: rem(10)
      }
  }

  .badge-ios{
      height:rem(44);
      width:rem(44);
      font-size:rem(20);
      color:#000;
      border-radius: 50%;
      background-color:#606060;
      display: flex;
      justify-content:center;
      align-items: center;
      position:absolute;
      left:rem(90);
      top:rem(10);
  }
  .bg_zq{
      background-color:$Themecolor;
  }
  
  .circle_zq{
     height:rem(124);
      width:rem(124);
      margin:auto;
      font-size:rem(28);
      color:$Themecolor;
      display:flex;
      justify-content:center;
      align-items: center; 
      position:relative;
  }
  .circle1_zq{
    background: url(../../assets/imgs/circle.png);
    background-size:100% 100%;
  }
  .circle2_zq{
    background: url(../../assets/imgs/circle_act.png);
    background-size:100% 100%;
  }
  

}
