<!--
  Generated template for the DdDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>订单详情</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="custom-content">
  <ion-card no-padding class="custom-card">
    <ion-card-header text-center class="wel-title">
      随时关注订单状态
    </ion-card-header>
    <ion-card-content text-center class="wel-text">
      感谢您选择修匠手机上门维修手机回收平台，欢迎再次光临
    </ion-card-content>
  </ion-card>
  <ion-card class="custom-pannel-card">
    <ion-card-content no-padding>
      <ion-grid>
        <ion-row class="border">
          <ion-col col-3 class="pannel-title" text-left>
            订单编号
          </ion-col>
          <ion-col text-center>
            {{item.orderno}}
          </ion-col>
          <ion-col col-3 text-right *ngIf="item.status==1">
            待受理
          </ion-col>
          <ion-col col-3 text-right *ngIf="item.status==2">
            已受理
          </ion-col>
          <ion-col col-3 text-right *ngIf="item.status==3">
            已确定
          </ion-col>
          <ion-col col-3 text-right *ngIf="item.status==4">
            已支付
          </ion-col>
          <ion-col col-3 text-right *ngIf="item.status==5">
            已完成
          </ion-col>
        </ion-row>
        <ion-row class="border">
          <ion-col class="pannel-title" text-left>
            联系人
          </ion-col>
          <ion-col col-8 text-right>
            {{detail.nickname}}
          </ion-col>
        </ion-row>
        <ion-row class="border">
          <ion-col class="pannel-title" text-left>
            联系电话
          </ion-col>
          <ion-col col-4 text-right>
            {{detail.phone}}
          </ion-col>
        </ion-row>
        <ion-row class="border">
          <ion-col class="pannel-title" text-left>
            联系地址
          </ion-col>
          <ion-col col-8 text-right>
            {{detail.address}}
          </ion-col>
        </ion-row>
        <ion-row class="border">
          <ion-col class="pannel-title" text-left>
            下单时间
          </ion-col>
          <ion-col col-8 text-right>
            {{detail.createtime}}
          </ion-col>
        </ion-row>
        <ion-row class="border">
          <ion-col class="pannel-title" text-left>
            服务方式
          </ion-col>
          <ion-col col-8 text-right *ngIf="detail.servertype==1">
            上门
          </ion-col>
          <ion-col col-8 text-right *ngIf="detail.servertype==2">
            到店
          </ion-col>
          <ion-col col-8 text-right *ngIf="detail.servertype==3">
            邮寄
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="pannel-title" text-left>
            预约时间
          </ion-col>
          <ion-col col-8 text-right>
            {{detail.bookingtime}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card class="custom-pannel-card">
    <ion-card-content>
      <div class="list-item-content-ys">
        <img src={{item.img}} alt="">
        <ul>
          <li>{{detail.version}}</li>
          <li>{{item.fault}}</li>
          <li>颜色：{{item.color}}</li>
        </ul>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card class="custom-pannel-card">
    <ion-card-header class="pannel-title" text-left>
      买家备注
    </ion-card-header>
    <ion-card-content>
      {{detail.remark}}
    </ion-card-content>
  </ion-card>
  <ion-card class="custom-pannel-card" *ngIf="item.status!=1">
    <ion-card-header class="pannel-title" text-left>
      配件明细
    </ion-card-header>
    <ion-card-content>
      {{detail.parts}}
    </ion-card-content>
  </ion-card>
  <ion-card class="custom-pannel-card" *ngIf="item.status==4||item.status==5">
    <ion-card-content no-padding>
      <ion-grid>
        <ion-row class="border">
          <ion-col class="pannel-title" text-left>
            订单总额
          </ion-col>
          <ion-col col-8 text-right class="pannel-title">
            ￥{{detail.fee}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="pannel-title" text-left>
            支付方式
          </ion-col>
          <ion-col col-4 text-right class="pannel-title" *ngIf="detail.paytype==1">
            在线支付
          </ion-col>
          <ion-col col-4 text-right class="pannel-title" *ngIf="detail.paytype==2">
            线下支付
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card class="custom-pannel-card" *ngIf="item.status!=4&&item.status!=5">
    <ion-card-content no-padding>
      <ion-grid>
        <ion-row>
          <ion-col col-3 class="pannel-title" text-left>
            订单总额
          </ion-col>
          <ion-col text-right>
            ￥{{detail.fee}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
<!--状态1-->
<ion-grid class="foot-tabs" *ngIf="item.status==1">
  <ion-row>
    <ion-col text-center>

    </ion-col>
    <ion-col text-center>

    </ion-col>
    <ion-col text-center (click)="makeCallNumber()">
      <span class="icon active tel-active"></span>
      <span>联系客户</span>
    </ion-col>
    <ion-col text-center (click)="cancelOrder()">
      <span class="icon cancel"></span>
      <span>取消订单</span>
    </ion-col>
    <ion-col text-center (click)="receiveOrder()">
      <span class="icon is_confirm"></span>
      <span>接手订单</span>
    </ion-col>
  </ion-row>
</ion-grid>
<!--状态2-->
<ion-grid class="foot-tabs" *ngIf="item.status==2">
  <ion-row>
    <ion-col text-center (click)="makeCallNumber()">
      <span class="icon tel"></span>
      <span>联系客户</span>
    </ion-col>
    <ion-col text-center>
      <span class="icon gps"></span>
      <span>地图导航</span>
    </ion-col>
    <ion-col text-center (click)="partsMall()">
      <span class="icon active components"></span>
      <span>选取配件</span>
    </ion-col>
    <ion-col text-center (click)="confirmOrder()">
      <span class="icon finish"></span>
      <span>确认订单</span>
    </ion-col>
    <ion-col text-center (click)="transferOrder()">
      <span class="icon out"></span>
      <span>转单</span>
    </ion-col>
  </ion-row>
</ion-grid>
<!--状态3-->
<ion-grid class="foot-tabs" *ngIf="item.status==3">
  <ion-row>
    <ion-col text-center>

    </ion-col>
    <ion-col text-center>

    </ion-col>
    <ion-col text-center>

    </ion-col>
    <ion-col text-center (click)="makeCallNumber()">
      <span class="icon tel"></span>
      <span>联系客户</span>
    </ion-col>
    <ion-col text-center (click)="underPay()"> 
      <span class="icon active wallet"></span>
      <span>线下支付</span>
    </ion-col>
  </ion-row>
</ion-grid>
<!--状态4-->
<ion-grid class="foot-tabs" *ngIf="item.status==4">
  <ion-row>
    <ion-col text-center>

    </ion-col>
    <ion-col text-center>

    </ion-col>
    <ion-col text-center>
      <span class="icon imei"></span>
      <span>IMEI填写</span>
    </ion-col>
    <ion-col text-center>
      <span class="icon tel"></span>
      <span>联系客户</span>
    </ion-col>
    <ion-col text-center (click)="finishOrder()">
      <span class="icon order active"></span>
      <span>结束订单</span>
    </ion-col>
  </ion-row>
</ion-grid>
<!--状态5-->
<ion-grid class="foot-tabs" *ngIf="item.status==5">
  <ion-row>
    <ion-col text-center>

    </ion-col>
    <ion-col text-center>

    </ion-col>
    <ion-col text-center>

    </ion-col>
    <ion-col text-center>

    </ion-col>
    <ion-col text-center>
      <span class="icon discuss"></span>
      <span>查看评价</span>
    </ion-col>
  </ion-row>
</ion-grid>